<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Social Customer Care</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>

    <script th:src="@{/js/jquery_dateFormat.js}"></script>
    <script>
        //VAR FOR ICON
        var happyicon = 'fa fa-smile-o pull-right happy';
        var sadicon = 'fa fa-frown-o pull-right sad';

        //Hard page id
        var pageID = 177872845972148;

        //Get post every 5s
        getAllPosts();
        setInterval(function () { getAllPosts(); },5000);

        $('#list-fb-account').empty();
        getAllFBAccount();
        getAllPageAccount();


        //Reply to comment
        function replyToComment(objId) {
            $('#send-progress').attr('class','fa fa-paper-plane');
            $('#replyModal').modal('toggle');
            $('#btnReply').unbind().click(function () {
                var token = $('#reply-token').val();
                if ($('#txtReply').val().length>0){
                    sendComment(objId,$('#txtReply').val(),token);}
                else {alert("Enter some thing to comment..")}
            });
        }



        //Set onclick account
        function setOnclickReplyAccount(imgsrc,name,token)
        {
            $('#reply-img').attr("src","http://graph.facebook.com/"+imgsrc+"/picture");
            $('#reply-name').html(name);
            $('#reply-token').val(token);
        }

        //get All Facebook account belong to user
        function getAllFBAccount()
        {
            $.ajax({
                url: '/allFbAccount',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#list-fb-account').empty();
                    $('#list-fb-account').html( '<li class="dropdown-header" style="text-align: center">Facebook account</li>');
                    $.each(data, function (index) {
                        $('#list-fb-account').append(
                                '<li onclick="setOnclickReplyAccount('+data[index].facebookuserid+',\''+data[index].facebookusername+'\',\''+data[index].accesstoken+'\')">'
                                +'<a><img height="30px" width="30px" style="border-radius: 3px" src="http://graph.facebook.com/'+data[index].facebookuserid+'/picture" alt="user image"> &nbsp;'+data[index].facebookusername+'</a>' +
                                '</li>'

                        )
                    })
                }
            });
        }
        //get All Facebook account belong to user
        function getAllPageAccount()
        {
            $.ajax({
                url: '/allPageAccount',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#list-fb-account').append( '<li class="dropdown-header" style="text-align: center">Page account</li>');
                    $.each(data, function (index) {
                        $('#list-fb-account').append(
                                '<li onclick="setOnclickReplyAccount('+data[index].pageid+',\''+data[index].name+'\',\''+data[index].accesstoken+'\')">'
                                +'<a><img height="30px" width="30px" style="border-radius: 3px" src="http://graph.facebook.com/'+data[index].pageid+'/picture" alt="user image"> &nbsp;'+data[index].name+'</a>' +
                                '</li>'

                        )
                    })
                }
            });
        }

        //Get all posts
        function getAllPosts() {


            $.ajax({
                url: '/allPostsByBrand',
                type: "GET",
                dataType: "json",
                success: function (data) {

                    $('#post-box').empty();
                    $.each(data,function (index) {
                        $('#post-box').append(
                                '<div class="item" onclick="getCommentById('+data[index].id+')">'
                                +'<img onload="http://localhost:8080/img/user_img.jpg" src="http://graph.facebook.com/'+data[index].createdBy+'/picture" alt="user image">'
                                +'<p class="message">'
                                +'<a class="name">'
                                +'<small class="text-muted pull-right">'
                                +jQuery.format.prettyDate( new Date(data[index].createdAt))
                                +'</small>'
                                +data[index].createdByName
                                +' </a>'
                                +'</p>'
                                +'<p style="margin-top: 30px;height: 35px;overflow: hidden">'+data[index].content+'</p>'
                                +'<div style="color: gray; bottom: 0px;text-align: center; ">'
                                +'<div class="inline"  style="margin-right: 10px"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;'+data[index].likesCount+'</div>'
                                +'<div class="inline"style="margin-right: 10px"><span class="glyphicon glyphicon-comment"></span>&nbsp;'+data[index].commentsCount+' </div>'
                                +'<div class="inline" style="margin-right: 10px"> <span class="glyphicon glyphicon-share-alt"></span>&nbsp;'+data[index].sharesCount+'</div>'
                                +'</div>'
                                +'</div>'
                        )
                    });
                }
            });

        }

        //Ger reply for comment
        function getReplyByCommentId(commentId) {

            $('#reply-list').empty();
            $('#reply-list').html('Loading....');
            $.ajax({
                url: '/commentbypost',
                type: "GET",
                data: { postId: commentId },
                dataType: "json",
                success: function (data){
                    $('#reply-list').empty();
                    $.each(data,function (index) {
                        $('#reply-list').append(
                        '<div class="cmt" style="max-height:10vh;">'
                        +'<div class="cmtContent">'
                        +'<img src="http://graph.facebook.com/'+data[index].createdBy+'/picture" height="50px" width="50px">'
                        +'<p class="message">'
                        +'<a>'+data[index].createdByName+'</a>'
                        +'<p style="margin-left: 65px; margin-top: -10px">'+data[index].content+'</p>'
                        +'</p>'
                        +'</div>'
                        +'</div>'
                        )
                    })

                }
            })
        }
        //Get comments for posts
        function getCommentById(postId) {
            var happycount =0;
            var sadcount =0;
            $('#comment-box').empty();
            $('#comment-box').html('Loading....');
            getPostById(postId);
            $.ajax({
                url: '/commentbypostWithSen',
                type: "GET",
                data: { postId: postId },
                dataType: "json",
                success: function (data){
                    $('#comment-box').empty();
                    $.each(data,function (index)
                    {
                        var senIcon = sadicon;
                        if (data[index].sentimentScore==1)
                        {
                             senIcon = happyicon;
                            happycount = happycount+1;
                        } else sadcount =sadcount+1;


                        var cmtId= "'"+postId+"_"+data[index].id+"'";
                        var commentisticket="";
                        //khi comment la mot ticket thi se co 3 nut: send,assign,change status
                        if(data[index].ticket){
                            commentisticket=
                                    //Day la button send commend cua Bean GOD
                                    '<button  onclick="replyToComment('+cmtId+');getReplyByCommentId('+data[index].id+');" class="btn btn-default btn-xs inline"' +
                                    ' style="margin-left: 65px;margin-top: -10px; "><span class="glyphicon glyphicon-send"' +
                                    ' style="color:gray "  title="Reply to this comment"   data-placement="bottom" ' +
                                    'data-toggle="tooltip" ></span></button>'

                                    //Day la nut assign
                                    +'<button class="btn btn-default btn-xs inline" onclick="assign('+data[index].id+')"' +
                                    ' style="margin-top: -10px; "><span style="color:gray " ' +
                                    'title="Assign this ticket to staff" data-toggle="tooltip"  data-placement="bottom" ' +
                                    ' class="fa fa-tag"></span></button>'

                                    //Day la nut change status
                                    +'<button class="btn btn-default btn-xs inline" onclick="status('+data[index].id+')"' +
                                    ' style="margin-top: -10px; "><span style="color:gray " ' +
                                    'title="Assign this ticket to staff" data-toggle="tooltip"  data-placement="bottom" ' +
                                    ' class="fa fa-navicon"></span></button>'
                        }else{
                            //khi comment chua phai la ticket thi chi co nut create ticket va send ticket
                            commentisticket='<button class="btn btn-default btn-xs inline" onclick="createticket('+data[index].id+','+postId+')"' +
                                    ' style="margin-left: 65px;margin-top: -10px; "><span style="color:gray " ' +
                                    'title="Create new ticket" data-toggle="tooltip"  data-placement="bottom" ' +
                                    ' class="fa fa-plus"></span></button>'

                            +'<button  onclick="replyToComment('+cmtId+');getReplyByCommentId('+data[index].id+');" class="btn btn-default btn-xs inline"' +
                                    ' style="margin-top: -10px; "><span class="glyphicon glyphicon-send"' +
                                    ' style="color:gray "  title="Reply to this comment"   data-placement="bottom" ' +
                                    'data-toggle="tooltip" ></span></button>'

                                    +'<button  onclick="" class="btn btn-default btn-xs inline"' +
                                    ' style="margin-top: -10px; "><span class="glyphicon glyphicon-send"' +
                                    ' style="color:gray "  title="Reply to this comment"   data-placement="bottom" ' +
                                    'data-toggle="tooltip" ></span></button>'
                        }
                        $('#comment-box').append(
                                '<div  class="cmt" >'
                                +'<div class="col-lg-10 cmtContent">' +
                                '<img onload="http://localhost:9000/img/user_img.jpg" src="http://graph.facebook.com/'+data[index].createdBy+'/picture" alt="user image">'
                                +'<p class="message">'
                                +'<a>'
                                +data[index].createdByName
                                +'<small class="text-muted" style="margin-left: 10px">'
                                +jQuery.format.prettyDate( new Date(data[index].createdAt))
                                +'</small>'
                                +' </a>'
                                +'<p style="margin-left: 65px;margin-top: -10px " onclick="getticket('+data[index].id+','+postId+')">'+data[index].content+'</p>'
                                +'</p>'
                                //Day la nut reply
//                                +'<button onclick="replyToComment('+cmtId+')" class="btn btn-default btn-xs inline" style="margin-left: 65px;margin-top: -10px; "><span class="glyphicon glyphicon-send" style="color:gray "  title="Reply to this comment"   data-placement="bottom" data-toggle="tooltip" ></span></button>'
                                +commentisticket
                                +'</div>'
                                +'<div class="col-lg-2" style="margin-top: 30px">' +'<small class="'+senIcon+'" style="font-size: 20px;"></small>'
                                +'</div>'
                                +'</div>')
                    });
                    $("#happy-count").html(happycount);
                    $("#sad-count").html(sadcount);
                }
            });

        }


        //Get post by id
        function getPostById(postId) {
            $.ajax({
                url: '/postById',
                type: "GET",
                data: { postId: postId },
                dataType: "json",
                success: function (data){
                    var date = $.format.date(data.createdAt,"ddd, dd-MM-yyyy");
                    var time = $.format.date(data.createdAt,"HH:mm");
                    $('#post-content').html(data.content);
                    $('#post-author').html(data.createdByName);
                    $('#post-like-count').html('<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;'+data.likesCount+'&nbsp;Likes');
                    $('#post-comment-count').html('<span class="glyphicon glyphicon-comment"></span>&nbsp;'+data.commentsCount+'&nbsp;Comments');
                    $('#post-share-count').html('<span class="glyphicon glyphicon-share-alt"></span>&nbsp;'+data.sharesCount+'&nbsp;Shares');
                    $('#post-image').attr('src','http://graph.facebook.com/'+data.createdBy+'/picture');
                    $('#post-time').html(date+' at '+time);
                    //Set onClick command for comment button
                    $('#btnSendComment').unbind().click( function ()
                    {
                        var objId=(pageID+"_"+postId);
                        if ($('#txtComment').val().length>0){
                            sendComment(objId,$('#txtComment').val());}
                        else {alert("Enter some thing to comment..")}
                    });
                }
            })
        }
        //Send comment button
        function sendComment(objId, message,token) {
            $('#send-progress').attr('class','fa fa-spin fa-spinner');
            $.ajax({
                url: '/commentOnObj',
                type: "POST",
                data: { objId: objId,message:message,token:token },
                dataType: "json",
                success: function (data)
                {
                    $('#send-progress').attr('class','fa fa-check');
                    $('#txtComment').val('');
                    $('#txtReply').val('');
                    $('#replyModal').modal('hide');
                }
            });}

        //create ticket
        function createticket(comtID,postID) {
            $.ajax({
                url:"getalluser",
                type:"GET",
                success:function (data) {
                    $("#assignee").html("");
                    for (var i =0;i<data.length;i++){
                        $("#assignee").append(
                                '<option value="'+data[i].userid+'">'+data[i].firstname+' '+data[i].lastname+'</option>'
                        );
                    }
                },
                error:function () {
                    alert("Fail to load list user");
                }
            })

            $('#createModal').modal('toggle');
            $('#btnCreate').unbind().click(function () {
                var deadline = $('#deadline').val();
                var assignee = $('#assignee').val();
                $.ajax({
                    url:"/createticket",
                    data:{"commentid":comtID,"deadline":deadline,"assignee":assignee},
                    type:"POST",
                    success:function () {
                        $('#createModal').modal('toggle');
                        alert("create ticket successful");
                        getCommentById(postID);
                        $('#deadline').val('dd/MM/YYYY');
                    },
                    error:function () {
                        alert("fail to create ticket");
                    }
                })
            })
        }

        //assign ticket
        function assign(comID) {
            //Load list user de assign
            $.ajax({
                url:"getalluser",
                type:"GET",
                success:function (data) {
                    $("#assign").html("");
                    for (var i =0;i<data.length;i++)
                        $("#assign").append(
                                '<option value="'+data[i].userid+'">'+data[i].firstname+ ' ' +data[i].lastname +'</option>'
                        );
                },
                error:function () {
                    alert("Fail to load list user");
                }
            })

            //assign ticket
            $('#assignModal').modal('toggle');
            $('#btnAssign').unbind().click(function () {
                var assignee = $('#assign').val();
                $.ajax({
                    url:"/assignticket",
                    data:{"commentid":comID,"assignee":assignee},
                    type:"POST",
                    success:function (data) {
                        alert("assign ticket successful"+data.commentid);
                        $('#assignModal').modal('toggle');
                    },
                    error:function () {
                        alert("fail to assign ticket");
                    }
                })
            })
        }

        //change status
        function status(comID,postID) {
            $('#statusModal').modal('toggle');
            $('#btnStatus').unbind().click(function () {
                var status = $('#status').val();
                $.ajax({
                    url:"/changeticketstatus",
                    data:{"commentid":comID,"status":status},
                    type:"POST",
                    success:function (data) {
                        $('#statusModal').modal('toggle');
                        alert("change status successfull:");
                    },
                    error:function () {
                        alert("fail to change ticket status");
                    }
                })
            })
        }

        //get ticket detail
        function getticket(comID) {
            $.ajax({
                url:"/getticket",
                data:{"commentid":comID},
                type:"POST",
                success:function (data) {
                    if(data === null){
                        $('#tab_1').html("");
                    }else{
                        var date = new Date(data.createdtime).getDate();
                        var month = new Date(data.createdtime).getMonth()+1;
                        var year = new Date(data.createdtime).getFullYear();
                        var deadlineDate = new Date(data.deadline).getDate();
                        var deadlineMonth = new Date(data.deadline).getMonth()+1;
                        var deadlineYear = new Date(data.deadline).getFullYear();
                        $('#tab_1').html(
                                '<p><b>Ticket ID: </b>'+data.id+'</p>'
                                +'<p><b>Comment ID: </b>'+data.commentid+'</p>'
                                +'<p><b>Createby: </b>'+data.createby+'</p>'
                                +'<p><b>Create At: </b>'+date+'/'+month+'/'+year+'</p>'
                                +'<p><b>Status: </b>'+data.statusid+'</p>'
                                +'<p><b>Active: </b>'+data.active+'</p>'
                                +'<p><b>Assignee: </b>'+data.assignee+'</p>'
                                +'<p><b>Deadline: </b>'+deadlineDate+'/'+deadlineMonth+'/'+deadlineYear+'</p>'
                        );
                    }

                },
                error:function () {
                    $('#tab_1').html("");
                }
            })

            $.ajax({
                url:"/gettickethistory",
                data:{"commentid":comID},
                type:"POST",
                success:function (data) {
                    $('#tab_2').html("");
                    for(var i=0;i< data.length;i++){
                        var date = new Date(data[i].createdat).getDate();
                        var month = new Date(data[i].createdat).getMonth()+1;
                        var year = new Date(data[i].createdat).getFullYear();
                        var status = data[i].statusid;
                        switch (status){
                            case 1: status="change "+data[i].ticketid+" to unassign"; break;
                            case 2: status="assign "+data[i].ticketid + " to " + data[i].assignee; break;
                            case 3: status="change "+data[i].ticketid+" to open"; break;
                            case 4: status="change "+data[i].ticketid+" to inprogess"; break;
                            case 5: status="change "+data[i].ticketid+" to solving"; break;
                            case 6: status="change "+data[i].ticketid+" to solved"; break;
                            case 7: status="change "+data[i].ticketid+" to close"; break;

                        }
                        $('#tab_2').append(
                                '<p><b>'+date+'/'+month+'/'+year+ ' ,'+data[i].userid+' '+ status+' </b></p>'
                        );
                    }

                },
                error:function () {
                    $('#tab_2').html("");
                }
            })

            $.ajax({
                url:"/commentbypost",
                data:{"postId":comID},
                type:"POST",
                success:function (data) {
                    $('#tab_3').html("");
                    for (var i=0;i<data.length;i++){
                        var date = new Date(data[i].createdAt).getDate();
                        var month = new Date(data[i].createdAt).getMonth();
                        var year = new Date(data[i].createdAt).getFullYear();
                        $('#tab_3').append(
                                '<p>'+date+'/'+month+'/'+year+', '+data[i].createdByName+' say: '+data[i].content+'</p>'
                        );
                    }
                },
                error:function () {
                    $('#tab_3').html("");
                }
            })

        }
    </script>
    <link rel="stylesheet" th:href="@{/css/scc-post.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">


<div class="wrapper">
    <div class="content-wrapper"  style="max-height: 90vh;overflow: hidden">

        <div class="modal fade" id="replyModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Reply to comment</h4>
                    </div>
                    <div class="modal-body" style=" height: auto;">

                        <div id="reply-list"  class="cmtList" style="max-height: 45vh; overflow-y: scroll;">

                        </div>
                        <input type="hidden" id="reply-token" value="">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" style="width: 180px; margin-top: 10px" type="button" data-toggle="dropdown">
                                <img width="30px" id='reply-img'height="30px" style="border-radius: 3px" src="http://globalgamejam.org/sites/default/files/styles/game_sidebar__normal/public/game/featured_image/promo_5.png?itok=9dymM8JD" alt="user image">
                                <p class="inline" id="reply-name"> Reply as... </p>  <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="list-fb-account">
                                <li class="dropdown-header" style="text-align: center">Page account</li>
                                <li><a><img height="30px" width="30px" style="border: 1px solid gray; border-radius: 3px" src="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" alt="user image"> &nbsp; Quy Beans</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header" style="text-align: center" id="list-user-account">User account</li>
                            </ul>
                        </div>
                        <textarea  style="margin-top: 10px" placeholder="Write a reply...." type="text" class="form-control" rows="3"  id="txtReply"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnReply"> <i id="send-progress" class="fa fa-paper-plane"></i>&nbsp;Reply</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <label for="deadline">Deadline</label>
                        <input type="date" id="deadline"/>
                        <select id="assignee">
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnCreate">Create</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="assignModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assign Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <select id="assign">
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnAssign">Assign</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="statusModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change Ticket Status</h4>
                    </div>
                    <div class="modal-body">
                        <select id="status">
                            <option value="3">Open</option>
                            <option value="4">Inprocess</option>
                            <option value="5">Solving</option>
                            <option value="6">Solved</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnStatus">Change Status</button>
                    </div>
                </div>

            </div>
        </div>
        <section class="col-lg-3 postlist">

            <div >

                <div class="box-body chat" id="post-box">
                    <!--Post list here-->
                </div>

            </div>
        </section>

        <section class="col-lg-6 cmtbox"  style="background-color: gray  ; border-left: 1px solid lightgray">
            <div>
                <div class="box-body chat">
                    <div class="postdetail">

                        <img src="http://localhost:8080/img/user_img.jpg" alt="user image" id="post-image">
                        <p class="author" id="post-author">Kitty Bang Bang</p>
                        <div id="post-time" class="text-muted" style="margin-left: 60px; margin-top: -10px">sss</div>
                        <p style="margin-top: 10px; overflow: hidden" id="post-content">
                            Content
                        </p>

                        <div style="color: gray">
                            <div class="inline" style="margin-right: 15px" id="post-like-count"><span class="glyphicon glyphicon-thumbs-up"></span>30 likes</div>
                            <div class="inline" style="margin-right: 15px" id="post-comment-count"><span class="glyphicon glyphicon-comment"></span>100 comments</div>
                            <div class="inline" style="margin-right: 15px" id="post-share-count"><span class="glyphicon glyphicon-share-alt"></span>10 shares</div>
                        </div>
                        <div style="width: 10%; top: 15px; right: -5px; position: absolute">

                                <div style="padding: 0"><div id="happy-count">16</div><span class="fa fa-smile-o happy"></span></div>
                                <div style="padding: 0"><div id="sad-count">20</div><span class="fa fa fa-frown-o sad"></span></div>
                        </div>


                    </div>
                    <div id="comment-box" class="cmtList" style="">
                        <!-- This is posts list -->
                    </div>
                </div>
            </div>
        </section>
        <section class="col-lg-2"style="padding: 0; margin:0px 0px 0px 0px; border-left: 1px solid lightgray;height: 100vh">
            <div style="height: 50vh">
                <ul class="nav nav-tabs" style="overflow: hidden;width: 100vh;display: inline-block; margin-top: 10px">
                    <li class="active"><a data-toggle="tab" href="#tab_1">Ticket Detail</a></li>
                    <li><a data-toggle="tab" href="#tab_2">History</a></li>
                    <li><a data-toggle="tab" href="#tab_3">Reply</a></li>
                </ul>
                <div class="tab-content" style="height: 100vh;background-color: white; width: 100vh; margin-top: -5px">
                    <div class="tab-pane active" id="tab_1" style="max-height: 100%">
                    </div>

                    <div class="tab-pane" id="tab_2" style="max-height: 100%">
                    </div>

                    <div class="tab-pane" id="tab_3" style="max-height: 100%">

                    </div>

                </div>
            </div>
            <div style="height: 50vh">
                <div id="realtedcomment">

                </div>
            </div>
        </section>

    </div>

</div>
</body>
</html>
