<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Social Customer Care</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>

    <script src="/js/customercare.js"></script>
    <link rel="stylesheet" th:href="@{/css/scc-post.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div class="content-wrapper" style="max-height: 90vh;overflow: hidden">
        <!--MODALS GO HERE-->

        <div class="modal fade" id="replyModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Reply to comment</h4>
                    </div>
                    <div class="modal-body" style=" height: auto;">

                        <div id="reply-list" class="cmtList" style="max-height: 45vh; overflow-y: scroll;">

                        </div>
                        <input type="hidden" id="reply-token" value="">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" style="width: 180px; margin-top: 10px"
                                    type="button" data-toggle="dropdown">
                                <img width="30px" id='reply-img' height="30px" style="border-radius: 3px"
                                     src="http://globalgamejam.org/sites/default/files/styles/game_sidebar__normal/public/game/featured_image/promo_5.png?itok=9dymM8JD"
                                     alt="user image">
                                <p class="inline" id="reply-name"> Reply as... </p>  <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="list-fb-account">
                                <li class="dropdown-header" style="text-align: center">Page account</li>
                                <li><a><img height="30px" width="30px"
                                            style="border: 1px solid gray; border-radius: 3px"
                                            src="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg"
                                            alt="user image"> &nbsp; Quy Beans</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header" style="text-align: center" id="list-user-account">User
                                    account
                                </li>
                            </ul>
                        </div>
                        <textarea style="margin-top: 10px" placeholder="Write a reply...." type="text"
                                  class="form-control" rows="3" id="txtReply"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnReply"><i id="send-progress"
                                                                          class="fa fa-paper-plane"></i>&nbsp;Reply
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="priority">Priority</label>
                            <select class="form-control" id="priority">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="assignee">Assignee</label>
                            <select class="form-control" id="assignee">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnCreate">Create</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="assignModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assign Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form group">
                            <label for="assign">Assignee</label>
                            <select class="form control" id="assign">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnAssign">Assign</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="statusModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change Ticket Status</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form group">
                            <label for="status">Status</label>
                            <select id="status" class="form-control">
                                <option value="3">Open</option>
                                <option value="4">Inprocess</option>
                                <option value="5">Solving</option>
                                <option value="6">Solved</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnStatus">Change Status</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="tagcommentModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tag Comment </h4>
                    </div>
                    <div class="modal-body" id="tagss">

                    </div>
                    <div class="modal-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" id="attributename" placeholder="New Attribute"/>
                            <span class="input-group-btn">
                            <button class="btn btn-primary" id="btnAddTag" style="text-align: center">Add</button>
                                </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="forwardModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assign Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form group">
                            <label for="forwardnote">Note</label>
                            <textarea class="form-control" id="forwardnote"></textarea>
                        </div>
                        <div class="form group">
                            <label for="forward">Assignee</label>
                            <select class="form-control" id="forward">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnForward">Forward</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="staffcreateticketModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="staffpriority">Priority</label>
                            <select class="form-control" id="staffpriority">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnStaffCreate">Create</button>
                    </div>
                </div>

            </div>
        </div>

        <!--Choose Page modal-->
        <div class="modal fade" id="filter-page-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select page to display posts</h4>
                    </div>
                    <div class="modal-body" id="page-list">
                        <img height="20px" width="20px" src="https://graph.facebook.com/750322811668893/picture"><b>Kitty
                        Bang Bang</b>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--MODALS END HERE-->

        <section class="col-lg-3" style="padding: 0px">
            <div class="row"
                 style="padding-bottom: 5px; text-align:center; background-color: white; padding-top: 5px; border: 1px solid lightgray">
                <div class="btn-group pull-right" style="margin-right: 20px" data-toggle="modal"
                     data-target="#filter-page-modal">
                    <a class="btn btn-default" style="border-radius: 0px">
                        <i class="fa fa-newspaper-o"></i>
                        &nbsp; Pages &nbsp;

                    </a>
                </div>

                <button data-toggle="collapse" data-target="#search-box" class="btn btn-default pull-left"
                        style="border-radius:0px; margin-left: 20px"><span class="fa fa-search"></span> &nbsp;Search
                </button>
                <div class="btn-group" style="margin-left: 5px">
                    <a class="btn btn-default" onclick="postListCurPage=1;getAllPosts(listPageFilter,postListCurPage)"
                       style="border-radius: 100px">
                        <i class="fa fa-refresh"></i>

                    </a>
                </div>
            </div>
            <div class="collapse" id="search-box" style="padding: 10px">
                <div class="input-group">
                    <input type="text" class="form-control" value="" id="txtSearchPost"
                           placeholder="Search by post content"/>
                    <span class="input-group-addon" onclick="findPostByContent(listPageFilter)"> <i
                            class="fa fa-search"></i></span>
                </div>
            </div>
            <div class="postlist" id="post-list">
                <div class="box-body chat" id="post-box">
                    <!--This is post list here-->
                </div>

            </div>
        </section>

        <section class="col-lg-6 cmtbox" id="comment-list"
                 style=" background-color: gray;  border-left: 1px solid lightgray;">

            <div class="postdetail">
                <div>
                    <div class="col-lg-11" style="padding-left: 0px">
                        <img src="" alt="user image" id="post-image">
                        <p class="author" id="post-author" style="color: cornflowerblue">Page name</p>
                        <div id="post-time" class="text-muted" style="margin-left: 60px; margin-top: -10px">sss
                        </div>
                        <p style="margin-top: 15px; word-wrap: break-word;" id="post-content">
                            Content
                        </p>
                        <div style="color: gray">
                            <div class="inline" style="margin-right: 15px" id="post-like-count"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>likes
                            </div>
                            <div class="inline" style="margin-right: 15px" id="post-comment-count"><span
                                    class="glyphicon glyphicon-comment"></span>comments
                            </div>
                            <div class="inline" style="margin-right: 15px" id="post-share-count"><span
                                    class="glyphicon glyphicon-share-alt"></span>shares
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-right: 15px;">
                        <div style="margin: 0;" class="pull-right">
                            <div style="border-bottom: 1px solid lightgray">
                                <div id="happy-count" style="text-align: center">16</div>
                                <span class="fa fa-smile-o happy"></span></div>
                            <div>
                                <div id="sad-count" style="text-align: center">20</div>
                                <span class="fa fa fa-frown-o sad"></span></div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="comment-box" class="cmtList">
                <!-- This is comment list -->
            </div>
            <div style="bottom: 45px; position: fixed; padding: 5px 10px 5px 10px ;background-color: white; border-right: 1px solid lightgray; border-top: 1px solid lightgray" class="collapse" id="sort-option">
                <div class="inline" style="margin-right: 10px">Sort comments by:</div>
                <div class="radio inline" style="margin-right: 10px">
                    <label><input type="radio" checked="checked" value="" name="optradio" onclick="sortCommentBy=1">Question</label>
                </div>
                <div class="radio inline" style="margin-right: 10px">
                    <label><input type="radio" value="" name="optradio" onclick="sortCommentBy=2">Negative</label>
                </div>
            </div>
            <div style="padding: 0; margin: 0; width: 100%; background-color: white; position: fixed; bottom: 0px; height: 45px; border-top: 1px solid lightgray">
                <ul id="page-nav" class="pagination" style="margin-left: 10px; margin-top: 5px; padding: 0">
                    <li data-toggle="collapse" data-target="#sort-option" id="more"><a class="fa fa-ellipsis-v"></a>
                    </li>
                    <li onclick="previousCommentPage()"><a href="#"><span class="fa fa-chevron-left"></span></a></li>
                    <li onclick="$('#comment-page-current').focus()"><a href="#"
                                                                        style="padding-bottom: 5px;padding-top: 5px">
                        <input type="number" id="comment-page-current" onkeypress="checkNumberInputAndEnter(event)" f
                               style="width: 25px; text-align:center; border: none" value="1">/&nbsp;<span
                            id="comment-page-count">30</span> Pages</a></li>
                    <li onclick="nextCommentPage()"><a href="#"><span class="fa fa-chevron-right"></span></a></li>
                </ul>
            </div>
        </section>

        <section class="col-lg-3"
                 style="padding: 0; margin:0px 0px 0px 0px;border-left: 1px solid lightgray; position: relative; height: 100vh;">
            <div style="margin-bottom: 20px; background-color: inherit">
                <div style="padding: 0 5px 0 5px">
                    <div style="background-color: white; text-align: center; margin-bottom: 10px; font-size: 20px; font-weight: bold">
                        Jack Sparrow
                    </div>

                    <div style="padding-bottom: 0px; height: 80vh;  overflow: auto">
                        <ul class="chat">
                            <li class="left clearfix"><span class="chat-img pull-left"> <img
                                    src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"/> </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <small class="pull-right text-muted">
                                            12 mins ago
                                        </small>
                                    </div>
                                    <p>
                                        Xin chào
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix"><span class="chat-img pull-left"> <img
                                    src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"/> </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <small class="pull-right text-muted">
                                            12 mins ago
                                        </small>
                                    </div>
                                    <p>
                                        Mình cần hỗ trợ
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix"><span class="chat-img pull-left"> <img
                                    src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"/> </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <small class="pull-right text-muted">
                                            12 mins ago
                                        </small>
                                    </div>
                                    <p>
                                        Về đổi trả Galaxy note 7
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar"/>
                        </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted ">13 mins ago
                                        </small>
                                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Chào bạn, chúng tôi đên từ SCC
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"/>
                        </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <small class="pull-right text-muted">
                                            14 mins ago
                                        </small>
                                    </div>
                                    <p>
                                        Vâng cho mình hỏi thủ tục đổi trả
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar"/>
                        </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted">15 mins
                                            ago
                                        </small>
                                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Để đổi trả bạn hãy mang đến trung tâm bảo hành gần nhất
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div style="bottom: 0; position: relative;">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm"
                                   placeholder="Type your message here..."/>
                            <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>
</body>
</html>
