<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Social Customer Care</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>

    <script src="/js/customercare.js"></script>
    <script src="/js/mini-messenger.js"></script>
    <!--<script src="/js/popup-messenger.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/scc-post.css}"/>
    <link rel="stylesheet" href="/css/mini-messenger.css">
    <link rel="stylesheet" href="/css/popup-messenger.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div class="content-wrapper" style="max-height: 90vh;overflow: hidden">
        <!--MODALS GO HERE-->
        <div id="reply-comment-item" style="display:none">
            <div style="margin-left: 70px; margin-bottom: 10px">
                <div class="cmt"
                     style="background-color: whitesmoke; border-left: 2px solid lightgray; border-top: none">
                    <div class="cmtContent" style="margin-left: 5px;">
                        <div class="dropup " style=" position: absolute">
                            <button data-toggle="dropdown" id="ddlPageList"
                                    class="btn btn-default btn-xs dropdown-toggle" id="menu2"
                                    style=" border-radius: 0; margin-top:10px; font-size: 12px; width: 35px; height: 35px; background-color: transparent">
                            </button>

                            <ul class="dropdown-menu" id="list-fb-account" style="border: 1px solid lightblue">
                                <li class="dropdown-header" id='list-fb-page-account'style="text-align: center">Page account</li>
                                <li class="dropdown-header" id='list-fb-user-account'style="text-align: center">Facebook account</li>
                                <li class="dropdown-header" style="text-align: center">&#9660; Choose an account to reply</li>
                            </ul>

                        </div>
                        <img id="reply-img" src="http://graph.facebook.com/111/picture" style="  width: 35px; height: 35px; border: 1px solid blue">
                        <p class="message" style="margin-left: 50px; margin-top: -40px" >
                            <a id="reply-name" style="font-weight: bold" onclick="$('#menu1').show()">Mobile World
                            </a>

                        <div style="margin-left: 50px; margin-top: -10px">
                        <input type="hidden" id="reply-token" value="">
                            <input onkeyup="onReplyEnterHit(event,$(this))" id="txtReplyBox" value=""
                                   placeholder="Write a reply..."
                                   type="text"
                                   style="font-size:14px; color:black; width:90%; height: 25px; background-color: transparent;border:0; border-bottom: 1px solid blue; outline: none">
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="replyModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Click on an account to change</h4>
                    </div>
                    <div class="modal-body" style=" height: auto;">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="modal fade" id="replyModal" role="dialog">-->
        <!--<div class="modal-dialog">-->
        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--<h4 class="modal-title">Reply to comment</h4>-->
        <!--</div>-->
        <!--<div class="modal-body" style=" height: auto;">-->

        <!--<div id="reply-list" class="cmtList"-->
        <!--style="max-height: 45vh; overflow-y: auto; border-bottom: none">-->

        <!--</div>-->
        <!--<input type="hidden" id="reply-token" value="">-->
        <!--<div class="dropdown">-->
        <!--<button class="btn btn-info dropdown-toggle" style="width: 180px; margin-top: 10px"-->
        <!--type="button" data-toggle="dropdown">-->
        <!--<img width="30px" id='reply-img' height="30px" style="border-radius: 3px"-->
        <!--src="http://globalgamejam.org/sites/default/files/styles/game_sidebar__normal/public/game/featured_image/promo_5.png?itok=9dymM8JD"-->
        <!--alt="user image">-->
        <!--<p class="inline" id="reply-name"> Reply as... </p>  <span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" id="list-fb-account">-->
        <!--&lt;!&ndash;This is facebook account list&ndash;&gt;-->
        <!--</ul>-->
        <!--</div>-->
        <!--<textarea style="margin-top: 10px" placeholder="Write a reply...." type="text"-->
        <!--class="form-control" rows="3" id="txtReply"></textarea>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary " id="btnReply"><i id="send-progress"-->
        <!--class="fa fa-paper-plane"></i>&nbsp;Reply-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="modal fade" id="createModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="priority">Priority</label>
                            <select class="form-control" id="priority">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="assignee">Assignee</label>
                            <select class="form-control" id="assignee">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnCreate">Create</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="assignModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assign Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form group">
                            <label for="assign">Assignee</label>
                            <select class="form control" id="assign">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnAssign">Assign</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="statusModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change Ticket Status</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form group">
                            <label for="status">Status</label>
                            <select id="status" class="form-control">
                                <option value="3">Open</option>
                                <option value="4">Inprocess</option>
                                <option value="5">Solving</option>
                                <option value="6">Solved</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnStatus">Change Status</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="tagcommentModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tag Comment </h4>
                    </div>
                    <div class="modal-body" id="tagss">

                    </div>
                    <div class="modal-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" id="attributename" placeholder="New Attribute"/>
                            <span class="input-group-btn">
                            <button class="btn btn-primary" id="btnAddTag" style="text-align: center">Add</button>
                                </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="forwardModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assign Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form group">
                            <label for="forwardnote">Note</label>
                            <textarea class="form-control" id="forwardnote"></textarea>
                        </div>
                        <div class="form group">
                            <label for="forward">Assignee</label>
                            <select class="form-control" id="forward">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnForward">Forward</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="staffcreateticketModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="staffpriority">Priority</label>
                            <select class="form-control" id="staffpriority">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnStaffCreate">Create</button>
                    </div>
                </div>

            </div>
        </div>

        <!--Choose Page modal-->
        <div class="modal fade" id="filter-page-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select page to display posts</h4>
                    </div>
                    <div class="modal-body" id="page-list">
                        <img height="20px" width="20px" src="https://graph.facebook.com/750322811668893/picture"><b>Kitty
                        Bang Bang</b>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!--All ticket modal-->
        <div class="modal fade" id="ticket-modal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tickets in the system</h4>
                        <div class="inline">
                            <div class="inline">Sort by :</div>
                            <div class=" inline" style="margin-right: 10px">

                                <label><input name="radiobtn" type="radio" id="tksttcheckbox">
                                    Status</label>
                            </div>
                            <div class=" inline" style="margin-right: 10px">
                                <label><input name="radiobtn" type="radio" id="tktimecheckbox">Time</label>
                            </div>

                            <div>
                                Status:
                                <select id="filterstatus">
                                    <option></option>
                                    <option value="1">
                                        Assigned
                                    </option>
                                    <option value="2">InProcess</option>
                                    <option value="3">Solved</option>
                                    <option value="4">Close</option>
                                    <option value="5">Expired</option>
                                </select>
                                Priority:
                                <select id="filterpriority">
                                    <option></option>
                                </select>
                                Created by:
                                <select id="filtercreatedby">
                                    <option></option>
                                </select>
                                Assignee:
                                <select id="filterassignee">
                                    <option></option>
                                </select>
                                <button class="btn btn-default" onclick="filterticket()"><i class="fa fa-filter"></i>Filter
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="modal-body" id="ticket-list">
                        <div class="ticket-row">
                            <div class="ticket">
                                <div class="title process">Thái độ nhân viên
                                    tệ
                                </div>
                                <div>Status:
                                    <span class="fa fa-circle" style="color: #00d600"></span>
                                    In Process
                                </div>
                                <div>Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div>Current assignee:<span style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title process">Thái độ nhân viên
                                    tệ
                                </div>
                                <div>Status:
                                    <span class="fa fa-circle" style="color: #00d600"></span>
                                    In Process
                                </div>
                                <div>Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div>Current assignee:<span style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title solved">
                                    Galaxy Note 7 phát nổ cần được tư vấn đổi trả
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle" style="color: gray"></span>
                                    Solved
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title assigned">
                                    Hỗ trợ kỹ thuật
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle"
                                                                       style="color: #cece00"></span> Assigned
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span style="color: black; font-weight: bold">QuyDV</span>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="ticket-row">
                            <div class="ticket">
                                <div class="title process">Thái độ nhân viên
                                    tệ
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle"
                                                                       style="color: #00d600"></span> In Process
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title solved">
                                    Galaxy Note 7 phát nổ cần được tư vấn đổi trả
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle" style="color: gray"></span>
                                    Solved
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title assigned">
                                    Hỗ trợ kỹ thuật
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle"
                                                                       style="color: #cece00"></span> Assigned
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span style="color: black; font-weight: bold">QuyDV</span>
                                </div>
                                <div></div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--MODALS END HERE-->

        <section class="col-lg-3" style="padding: 0px">
            <div class="row"
                 style="padding-bottom: 5px; text-align:center; background-color: white; padding-top: 5px; border: 1px solid lightgray">
                <div class="btn-group pull-right" style="margin-right: 20px" data-toggle="modal"
                     data-target="#filter-page-modal">
                    <a class="btn btn-default" style="border-radius: 0px">
                        <i class="fa fa-newspaper-o"></i>
                        &nbsp; Pages &nbsp;

                    </a>
                </div>

                <button data-toggle="collapse" data-target="#search-box" class="btn btn-default pull-left"
                        style="border-radius:0px; margin-left: 20px"><span class="fa fa-search"></span> &nbsp;Search
                </button>
                <div class="btn-group" style="margin-left: 5px">
                    <a class="btn btn-default" onclick="postListCurPage=1;getAllPosts(listPageFilter,postListCurPage)"
                       style="border-radius: 100px">
                        <i class="fa fa-refresh"></i>

                    </a>
                </div>
            </div>
            <div class="collapse" id="search-box" style="padding: 10px">
                <div class="input-group">
                    <input type="text" class="form-control" value="" id="txtSearchPost"
                           placeholder="Search by post content"/>
                    <span class="input-group-addon" onclick="findPostByContent(listPageFilter)"> <i
                            class="fa fa-search"></i></span>
                </div>
            </div>
            <div class="postlist" id="post-list">
                <div class="box-body chat" id="post-box" style="margin:0">
                    <!--This is post list here-->
                </div>

            </div>
        </section>

        <section class="col-lg-6 cmtbox" id="comment-list"
                 style=" background-color: gray;  border-left: 1px solid lightgray;">

            <div class="postdetail">
                <div>
                    <div class="col-lg-11" style="padding-left: 0px">
                        <img src="" alt="user image" id="post-image">
                        <p class="author" id="post-author" style="color: cornflowerblue"><span>-----</span></p>
                        <div id="post-time" class="text-muted" style="margin-left: 60px; margin-top: -10px">-----
                        </div>
                        <p style="margin-top: 15px; word-wrap: break-word;" id="post-content">
                            -----
                        </p>
                        <div style="color: gray">
                            <div class="inline" style="margin-right: 15px" id="post-like-count"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>likes
                            </div>
                            <div class="inline" style="margin-right: 15px" id="post-comment-count"><span
                                    class="glyphicon glyphicon-comment"></span>comments
                            </div>
                            <div class="inline" style="margin-right: 15px" id="post-share-count"><span
                                    class="glyphicon glyphicon-share-alt"></span>shares
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-right: 15px;">
                        <div style="margin: 0;" class="pull-right">
                            <div style="border-bottom: 1px solid lightgray; margin-bottom: 2px">
                                <span class="fa fa-smile-o happy"></span>
                                <div id="happy-count" style="text-align: center">0</div>
                            </div>
                            <div style="border-bottom: 1px solid lightgray; margin-bottom: 2px">
                                <span class="fa fa-question-circle-o question"></span>
                                <div id="question-count" style="text-align: center">0</div>
                            </div>
                            <div>
                                <span class="fa fa fa-frown-o sad"></span>
                                <div id="sad-count" style="text-align: center">0</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="comment-box" class="cmtList">
                <!-- This is comment list -->
            </div>
            <div style="bottom: 45px; position: fixed; padding: 5px 10px 5px 10px ;background-color: white; border-right: 1px solid lightgray; border-top: 1px solid lightgray"
                 class="collapse" id="sort-option">
                <div class="inline" style="margin-right: 10px">Sort comments by:</div>
                <div class="radio inline" style="margin-right: 10px">
                    <label><input type="radio" checked="checked" onclick="questSortClick()"
                                  name="optradio">Question</label>
                </div>
                <div class="radio inline" style="margin-right: 10px">
                    <label><input type="radio" name="optradio" onclick="negSortClick()">Negative</label>
                </div>
                <div class="radio inline" style="margin-right: 10px">
                    <label><input type="radio" name="optradio" onclick="timeSortClick()">Time</label>
                </div>
            </div>
            <div style="padding: 0; margin: 0; width: 100%; background-color: white; position: fixed; bottom: 0px; height: 45px; border-top: 1px solid lightgray">
                <ul id="page-nav" class="pagination" style="margin-left: 10px; margin-top: 5px; padding: 0">
                    <li data-toggle="collapse" data-target="#sort-option" id="more"><a href="#"
                                                                                       class="fa fa-ellipsis-v"></a>
                    </li>
                    <li onclick="previousCommentPage()"><a href="#"><span class="fa fa-chevron-left"></span></a></li>
                    <li onclick="$('#comment-page-current').focus()"><a href="#"
                                                                        style="padding-bottom: 5px;padding-top: 5px">
                        <input type="number" id="comment-page-current" onkeypress="checkNumberInputAndEnter(event)"
                               style="width: 25px; text-align:center; border: none" value="1">/&nbsp;<span
                            id="comment-page-count">30</span> Pages</a></li>
                    <li onclick="nextCommentPage()"><a href="#"><span class="fa fa-chevron-right"></span></a></li>
                    <li>
                        <a style="padding-bottom: 5px;padding-top: 5px">
                            <input style="outline: none; background-color: transparent; margin: 0px; border: none"
                                   type="text" value="" id="txtSearchComment"
                                   placeholder="Search for comments" onkeypress="searchCommentEnter(event)"/>
                            <span onclick="searchByContent(currentPost,$('#txtSearchComment').val(),1)"
                                  style="margin-left: 10px" class="fa fa-search"></span>
                        </a>

                    </li>
                </ul>
            </div>
        </section>

        <section class="col-lg-3"
                 style="padding: 0; margin:0px 0px 0px 0px;border-left: 1px solid lightgray; position: relative; height: 100vh;">
            <div class="messenger" th:include="messenger/mini-messenger"></div>
        </section>

    </div>

</div>
</body>
</html>
