<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Social Customer Care</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>
    <script th:src="@{/js/jquery_dateFormat.js}"></script>
    <script src="js/moment.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/scc-post.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div class="content-wrapper"  style="max-height: 90vh;overflow: hidden">

        <div class="modal fade" id="assignModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assign Ticket</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form group">
                            <label for="assign">User</label>
                            <select class="form-control" id="assign">
                            </select>
                        </div>
                        <div class="form group">
                            <label for="assignnote">Note</label>
                            <textarea id="assignnote" class="form-control"> </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnAssign">Assign</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="statusModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change Ticket Status</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form group">
                            <label for="status">Status</label>
                            <select class="form-control" id="status">
                                <option value="3">Open</option>
                                <option value="4">Inprocess</option>
                                <option value="5">Solving</option>
                                <option value="6">Solved</option>
                            </select>
                        </div>
                        <div class="form group">
                            <label for="statusnote">Note</label>
                            <textarea id="statusnote" class="form-control"> </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnStatus">Change Status</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="changeticketModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Ticket</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form group">
                            <label for="ticketpriority"> Priority</label>
                            <select id="ticketpriority" class="form-control" >
                            </select>
                        </div>
                        <div class="form group">
                            <label for="ticketnote">Note</label>
                            <textarea class="form-control" id="ticketnote"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnChangeTicket">Update Ticket</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="forwardModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Forward Ticket</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form group">
                            <label for="forward">Assignee</label>
                            <select class="form-control" id="forward">
                            </select>
                        </div>
                        <div class="form group">
                            <label for="forwardnote">Note</label>
                            <textarea class="form-control" id="forwardnote"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary " id="btnForward">Forward</button>
                    </div>
                </div>

            </div>
        </div>



        <input type="hidden" th:value="${ticketid}" id="ticketid"/>

        <div id="reply-comment-item" style="display:none;margin-top: 5px">
            <div style="margin-left: 50px">
                <div class="cmt"
                     style="background-color: whitesmoke; border-top: none; border-left: 2px solid lightgray">
                    <div class="cmtContent" style="margin-left: 5px;">
                        <div class="dropup " style=" position: absolute">
                            <button data-toggle="dropdown" id="ddlPageList"
                                    class="btn btn-default btn-xs dropdown-toggle" id="menu2"
                                    style=" border-radius: 0; font-size: 12px; width: 35px; height: 35px; background-color: transparent">
                            </button>

                            <ul class="dropdown-menu" id="list-fb-account" style="border: 1px solid lightblue">
                                <li class="dropdown-header" id='list-fb-page-account'style="text-align: center">Page account</li>
                                <li class="dropdown-header" id='list-fb-user-account'style="text-align: center">Facebook account</li>
                                <li class="dropdown-header" style="text-align: center">&#9660; Choose an account to reply</li>
                            </ul>

                        </div>
                        <img id="reply-img" src="http://graph.facebook.com/111/picture" style="  width: 35px; height: 35px; border: 1px solid blue">
                        <p class="message" style="margin-left: 50px; margin-top: -40px" >
                            <a id="reply-name" style="font-weight: bold" onclick="$('#menu1').show()">Mobile World
                            </a>

                        <div style="margin-left: 50px; margin-top: -10px">
                            <input type="hidden" id="reply-token" value="">
                            <input onkeyup="onReplyEnterHit(event,$(this))" id="txtReplyBox" value=""
                                   placeholder="Write a reply..."
                                   type="text"
                                   style="font-size:14px; color:black; width:90%; height: 25px; background-color: transparent;border:0; border-bottom: 1px solid blue; outline: none">
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section class="col-lg-9 " style="overflow: auto;max-height: 630px">
           <ul class="timeline" id="ticketitem" >


           </ul>

        </section>

        <section class="col-lg-3" style="border-left: 1px solid lightgray;height: 100vh;background-color: white;max-height: 630px;overflow: auto">
            <div  style="border: solid 1px lightgray;height: 150px;width: 250px;border-radius: 20px;margin-top: 10px">
                <div style="margin-top: 10px">
                <span>
                    <h4 id="ticketstatus" style="text-align: center">
                        <i class="fa fa-circle" aria-hidden="true" style="color:red;margin-right: 10px"></i>
                        Open
                    </h4>
                </span>
                <span style="text-align: center">
                     <h3 id="ticketname" style="max-width: 250px;word-wrap: break-word; font-weight: bold; color: #4271ed">Ticket Name</h3>
                    <h4 id="dueday" style="max-width: 250px;word-wrap: break-word">Due:</h4>

                </span>
                </div>
            </div>
            <div id="getassigner" style="border-top: solid 1px lightgray;width: 250px; margin-top:10px" >
            </div>
            <div id="assigner" style="height: 80px;width: 250px;display: none">
                <h5 id="assignerfullname">Full name</h5>
                <h5 id="assignerphone">Phone</h5>
                <h5 id="assigneremail">Email</h5>
            </div>
            <div id="getassignee" style="border-top: solid 1px lightgray;width: 250px;margin-top:8px" >
            </div>
            <div id="assignee" style="height: 80px;width: 250px;display: none">
                <h5 id="assigneefullname">This is assigner info</h5>
                <h5 id="assigneephone">This is assigner info</h5>
                <h5 id="assigneeemail">This is assigner info</h5>
            </div>
            <div style="border-top: solid 1px lightgray;width: 250px;margin-top:8px" >
                <h4 id="createdat"><i  class="fa fa-chevron-right" ></i><b style="margin-left: 5px">Created At:</b></h4>
            </div>
            <div style="border-top: solid 1px lightgray;width: 250px;margin-top:8px" >
                <h4 id="ticketprioritydetail" > <i  class="fa fa-chevron-right" ></i><b style="margin-left: 5px">Priority:</b></h4>
            </div>
            <div style="border-top: solid 1px lightgray;width: 250px;margin-top:8px" >
                <h4 id="ticketnotedetail" style="width: 250px;word-wrap: break-word"></h4>
            </div>
            <!--<div style="border-top: solid 1px lightgray;width: 250px;margin-top:8px" >-->
                <!--<h4 onclick="gettickethistory(ticketid)"  style="width: 250px;word-wrap: break-word; text-align: center"><b>History</b></h4>-->
            <!--</div>-->
            <div id="tickethistory" style="max-height: 100px;width: 250px;display: none;overflow: auto">
            </div>
            <div style="border-top: solid 1px lightgray;margin-top:8px;text-align: center" >
                <div id="ticketbutton" class="btn-group" style="margin-top: 10px; display: inline-block">

                </div>
            </div>
            <div style="border-top: solid 1px lightgray;width: 250px;margin-top:8px" >
               <!--<button  style="margin-left: 70px;margin-top: 10px" class="btn btn-default" onclick="showhistory()">Show history</button>-->
                <input style="margin-left: 70px;margin-top: 10px" type="checkbox" id="historycheckbox" onclick="showhistory()">Show history
            </div>

        </section>

    </div>

</div>
<script src="/js/followticket.js"></script>
</body>
</html>