<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<header class="main-header">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="/css/_all-skins.min.css"/>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script th:src="@{/js/jquery_dateFormat.js}"></script>
    <script>
        getCurrentBrandInfo();
        getUnreadNotiCount();
        getUnreadNoti();

        //Get unread noti
        function getUnreadNotiCount() {
            $.ajax({
                url: '/notification/unread_count',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#unread_count').html(data);
                }
            });
        }

        function getUnreadNoti() {
            $.ajax({
                url: '/notification/getunread',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#noti-list').html('');
                    $.each(data,function (index) {
                        $('#noti-list').append('<li>' +
                                '<a href="#"> ' +
                                '<h3>'+data[index].message+'&nbsp;from <b>Mr.Boss</b>   ' +
                                '<p class="pull right">' +
                                '<span class="fa fa-ticket" style="margin-right: 5px"></span>'+
                                jQuery.format.prettyDate( new Date(data[index].createdat))+'</p> ' +
                                '</h3>' +
                                '</a>' +
                                '</li>')

                    })
                }
            });

        }

        //Get brand info
        function getCurrentBrandInfo() {
            $.ajax({
                url: '/brand/getBrandInfo',
                type: "GET",
                dataType: "json",
                success: function (data) {

                    $('#brand-logo').attr("src",data.image);
                    $('#brand-name').html(data.name);
                    $('#brand-sologan').html(data.sologan);
                }
            });

        }
    </script>
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>SCC</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Social</b>CustomerCare</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!--This is notification dropdown-->

                <!--<li class="dropdown tasks-menu">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<i class="fa fa-bell"></i>-->
                        <!--<span id="unread_count" class="label label-danger">9</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu" style=" box-shadow: 5px 5px 5px #888888;">-->
                        <!--<li class="header"><b>Notification</b></li>-->
                        <!--<li>-->
                            <!--<ul class="menu" id="noti-list">-->
                                <!--<li>-->
                                    <!--<a href="#">-->
                                        <!--<h3>-->
                                            <!--You have a new ticket from <b>Mr.Boss</b>-->
                                            <!--<p class="pull right"><span class="fa fa-ticket" style="margin-right: 5px"></span>5 mins ago</p>-->
                                        <!--</h3>-->
                                    <!--</a>-->
                                <!--</li>-->

                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="footer">-->
                            <!--<a href="#">View all tasks</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs" th:text="${session.fullname}"></span>
                    </a>
                    <ul class="dropdown-menu" style="width: 20vh; border: 1px solid lightgray" >
                        <!-- User image -->
                        <li class="user-header">
                            <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image"/>

                            <p th:text="${session.fullname}">
                           </p><p  style="margin-top: -10px" th:text=" 'username: '+${session.username}">
                        </p>
                        </li>

                        <li class="user-footer ">
                            <a href="/LogOut" class="btn btn-default btn-flat">Profile</a>
                            <a href="/LogOut" class="btn btn-danger" style="color: white">Sign out</a>
                        </li>


                    </li>
                    </ul>
                </li>


            </ul>
        </div>
    </nav>
</header>
</body>
</html>
