<body>

<aside class="main-sidebar" >
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img id="brand-logo" style=" border:1px solid gray; border-radius: 0px"src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/184/2608ece.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p id="brand-name">thegioididong</p>
                <a id="brand-sologan">Lắng nghe và chia sẻ</a>
            </div>
        </div>
        <!-- search form -->

        <ul class="sidebar-menu">

            <!--&lt;!&ndash;Manage User &ndash;&gt;-->
            <!--<li class="treeview">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-user"></i>-->
                    <!--<span>Manage User</span>-->
                    <!--<span class="pull-right-container">-->
                            <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                    <!--<li><a href="index.html"><i class="fa fa-circle-o"></i> Profile </a></li>-->
                    <!--<li><a href="index2.html"><i class="fa fa-circle-o"></i>FB Account</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--Customer Care -->
            <li class="header" style="text-align: center">CUSTOMER CARE SERVICE</li>
            <li class="treeview">
                <a href="/customercare">
                    <i class="fa fa-ambulance"></i>
                    <span>Customer Care</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            <li class="treeview">
                <a href="/messenger">
                    <i class="fa fa-ambulance"></i>
                    <span>Messenger</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>


            <!--Manage Ticket-->
            <li class="treeview">
                <a href="/manageticket">
                    <i class="fa fa-tasks"></i>
                    <span>Manage Ticket</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>

            <li class="header" style="text-align: center">PAGE AND ACCOUNT</li>
            <!--Manage Page -->
            <li class="treeview">
                <a href="/page/index">
                    <i class="fa fa-facebook-official "></i>
                    <span>Manage Page Account</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--Manage Page -->
            <li class="treeview">
                <a href="/crawl-page/index">
                    <i class="fa fa-bug"></i>
                    <span>Manage Crawl Page</span>
                    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--Manage FaceBook Account -->
            <li class="treeview">
                <a href="/facebook-account/index">
                    <i class="fa fa-facebook"></i>
                    <span>Manage FB Account</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>



            <li class="header" style="text-align: center">BRAND INFORMATION</li>
            <!--Manage Brand -->
            <li class="treeview">
                <a href="/brand/index">
                    <i class="fa fa-globe"></i>
                    <span>Your Brand</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--View Report -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-line-chart"></i>
                    <span>Report</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</body>

