<body>

<aside class="main-sidebar" >
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <!--Manage User -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Manage User</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> Profile </a></li>
                    <li><a href="index2.html"><i class="fa fa-circle-o"></i>FB Account</a></li>
                </ul>
            </li>
            <!--Customer Care -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-ambulance"></i>
                    <span>Customer Care</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--Manage Brand -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-globe"></i>
                    <span>Manage Brand</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--Manage Page -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-o"></i>
                    <span>Manage Page</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--Manage FaceBook Account -->
            <li class="treeview">
                <a href="manageFacebookAccount">
                    <i class="fa fa-facebook"></i>
                    <span>Manage FB Account</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--Manage Ticket-->
            <li class="treeview">
                <a href="Ticket">
                    <i class="fa fa-tasks"></i>
                    <span>Manage Ticket</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--View Report -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-line-chart"></i>
                    <span>Report</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</body>

