<body>

<aside class="main-sidebar" >
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            <!--&lt;!&ndash;Manage User &ndash;&gt;-->
            <!--<li class="treeview">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-user"></i>-->
                    <!--<span>Manage User</span>-->
                    <!--<span class="pull-right-container">-->
                            <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                    <!--<li><a href="index.html"><i class="fa fa-circle-o"></i> Profile </a></li>-->
                    <!--<li><a href="index2.html"><i class="fa fa-circle-o"></i>FB Account</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--Customer Care -->
            <li class="header" style="text-align: center">CUSTOMER CARE SERVICE</li>
            <li class="treeview">
                <a href="/customercare">
                    <i class="fa fa-ambulance"></i>
                    <span>Customer Care</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--Manage Ticket-->
            <li class="treeview">
                <a href="/manageticket">
                    <i class="fa fa-tasks"></i>
                    <span>Manage Ticket</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>

            <li class="header" style="text-align: center">PAGE AND ACCOUNT</li>
            <!--Manage Page -->
            <li class="treeview">
                <a href="/page/index">
                    <i class="fa fa-facebook-official "></i>
                    <span>Manage Page Account</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--Manage Page -->
            <li class="treeview">
                <a href="/crawl-page/index">
                    <i class="fa fa-bug"></i>
                    <span>Manage Crawl Page</span>
                    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--Manage FaceBook Account -->
            <li class="treeview">
                <a href="/facebook-account/index">
                    <i class="fa fa-facebook"></i>
                    <span>Manage FB Account</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>



            <li class="header" style="text-align: center">BRAND INFORMATION</li>
            <!--Manage Brand -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-globe"></i>
                    <span>Manage Brand</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!--View Report -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-line-chart"></i>
                    <span>Report</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</body>

