<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brand infomation</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>
    <script>
        getBrandInfo();
        function getBrandInfo() {
            $('#ticket-list').empty();
            $.ajax({
                url: '/brand/getBrandInfo',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#brand-name1').html(data.name);
                    $('#brand-sologan1').html(data.sologan);
                    $('#brand-img').attr("src",data.image);
                    $('#brand-mail').html(data.email);
                    $('#brand-location').html(data.address);
                    $('#brand-phone').html(data.phone);
                }
            });
            $('#ticket-modal').modal('toggle');
        }
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="content-wrapper">
    <section class="content">
        <div style="margin-top: 10px;margin-bottom: 10px;margin-left: 10px; background-color: white; min-height: 300px; padding: 10px 20px 20px 20px">
            <div>
                <img id="brand-img" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/184/2608ece.jpg"
                     style="border: 5px solid white; box-shadow: 10px 10px 10px #888888;height: 200px;width: 200px ">
            </div>
            <div style="margin-top: -200px; margin-left: 230px">
                <div id="brand-name1" style="color: cornflowerblue; font-size: 30px; font-weight: bolder">Thế giới di
                    động
                </div>
                <div style="color: white; background-color: cornflowerblue; width: 300px; padding-left: 10px;font-size: 15px">
                    <span class="fa fa-bullhorn"></span><span id="brand-sologan1"
                                                              style="font-style: italic; margin-left: 5px">Lắng nghe và chia sẻ</span>
                </div>
                <hr>
                <div><span class="glyphicon glyphicon-earphone" style="margin-right: 10px"></span><span
                        id="brand-phone">08.09021028</span></div>
                <div><span class="glyphicon glyphicon-envelope" style="margin-right: 10px"></span><span id="brand-mail">thegioididong@tgdd.com</span>
                </div>
                <div><span class="glyphicon glyphicon-map-marker" style="margin-right: 10px"></span><span
                        id="brand-location">Lầu 5 Etown 2, 364
                    Cộng Hòa, Q.Tân Bình, TP.Hồ Chí Minh</span>
                </div>
            </div>

            <div style="margin-left: 230px">
                <div style="color: cornflowerblue; margin-top:10px;font-size: 20px; font-weight: bold">Top level
                    manager
                </div>
                <div style="font-size: 15px;font-weight: bold">Mr. Đỗ Nam Trâm</div>
                <div><span class="glyphicon glyphicon-earphone" style="margin-right: 10px"></span>090.210.2810</div>
                <div><span class="glyphicon glyphicon-envelope" style="margin-right: 10px"></span>trump@tgdd.com
                </div>
            </div>
        </div>
    </section>
</div>

</div>
</body>
</html>