<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

</head>
<body>
<table id="example" class="display" width="100%">
    <thead>
    <tr>
        <th>Userid</th>
        <th>Username</th>
        <th>Role</th>
        <th>CreatedBy</th>
        <th>isActive</th>
        <th>Brand</th>
    </tr>
    </thead>
</table>
</body>
</html>