

.messenger .header
{
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: dodgerblue;
    border-bottom: 1px solid lightgray;
}

.messenger .header span
{
    margin-right: 10px;
}

.pages-body
{
    padding: 10px 0px 0px 0px;

}

.page img
{
    height: 50px;
    width: 50px;
}

.page .name
{
    margin-top: -50px;
    margin-left: 65px;
    color: cornflowerblue;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.page .unread-count
{
    margin-left: 65px;
}
.page
{
    background-color: white;
    padding: 10px 0px 10px 5px;
    height: 70px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.page:hover
{
    background-color: lightgray;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 13px;
    color: #fff;
    display: inline-block;
    text-align: center;
    background: rgba(255, 0, 6, 0.71);
    margin-right: 4px;
    vertical-align: middle;
    font-weight: bold;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;

}

.chat li.left .chat-body {
    margin-left: 35px;
    background-color: white;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
}

.chat li.right .chat-body {
    padding: 5px 5px 5px 10px;
    margin-right: 35px;
    background-color: lightblue;
    border-radius: 5px;

}

.chat li.right .chat-body p {
    color: black;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;

}

.conversation {
    cursor: pointer;
    height: 70px;
    /*margin: 0px 10px 1px 10px;*/
    position: relative;
    border-bottom: 1px solid #D3D3D3;
    background-color: white;
}

.chat li span img {
    height: 30px;
    width: 30px;
    border-radius: 3px;
}

.senderAvt {
    height: 50px;
    width: 50px;
    float: left;
    margin: 10px 10px 10px 10px;
    position: relative;
    border-radius: 3px;
}

.sentTime {
    margin-top: 6px;
    margin-right: 10px;
}


.crop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 190px;
}

.conversation-sender-name {
    margin-top: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 115px;
}

.conversation-lastmessage {
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 190px;
}

/*.popup-message{*/
    /*margin: 13px 0px 0px 0px;*/
    /*background-color: #00a7d0;*/
/*}*/