<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brand infomation</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>
    <style>
        .active {
            color: #00c200;
            margin-right: 10px;
        }

        .inactive {
            color: gray;
            margin-right: 10px;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<script>
    function getUserDetail(userId) {
        $.ajax({
            url: '/user/getUserDetail',
            type: "GET",
            data: {userId: userId},
            dataType: "json",
            async: false,
            success: function (data) {
                $('#user-username').html(data.username);
                setRoleByRoleId(data.roleid);
                getProfileByProfileId(data.userid);
                $("#user-status").removeAttr('class');
                if (data.active == true) {
                    $('#user-status').addClass('fa fa-circle active');
                    $('#btn-active-account').hide();
                    $('#btn-deactive-account').show().click(function () {
                        onclickDeactive(data.userid);
                    });
                } else {
                    $('#user-status').addClass('fa fa-circle inactive');
                    $('#btn-deactive-account').hide();
                    $('#btn-active-account').show().click(function () {
                        onclickActive(data.userid);
                    });
                }
            }
        });
    }

    function getProfileByProfileId(userId) {
        $.ajax({
            url: '/user/profile',
            type: "GET",
            data: {userId: userId},
            dataType: "json",
            async: false,
            success: function (data) {
                $('#user-name').html(data.lastname + " " + data.firstname);
                $('#user-location').html(data.address);
                $('#user-phone').html(data.phone);
                $('#user-mail').html(data.email);
            }
        });
    }

    function setRoleByRoleId(roleId) {
        switch (roleId) {
            case 1:
                $('#user-role').html("Admin");
                break;
            case 2:
                $('#user-role').html("Brand Manager");
                break;
            case 3:
                $('#user-role').html("Supervisor");
                break;
            case 4:
                $('#user-role').html("Staff");
                break;
        }

    }

    function onclickDeactive(userId) {
        var answer = confirm("Are you sure want to deactive this account ?");
        if (answer) {
            changeStatus(userId);
        }

    }

    function onclickActive(userId) {
        changeStatus(userId);
    }

    function changeStatus(userId) {

        $.ajax({
            url: '/user/switchActive',
            type: "GET",

            data: {userId: userId}
        });

        location.reload();

    }

    function checkUsername(username) {
        $.ajax({
            url: '/user/checkExistedUsername',
            type: "GET",
            dataType: 'json',
            data: {username: username},
            success: function (data) {
                if (data == true) {
                    $('#checkUserIcon').show();
                    $('#username').attr({
                        'title': 'Username existed',
                        "data-toggle": "tooltip",
                        "data-placement": "right",
                        "style": "border:1px solid red"
                    });

                }
                else {
                    $('#checkUserIcon').hide();
                    $('#username').removeAttr('title');
                    $('#username').removeAttr('data-toggle');
                    $('#username').removeAttr('data-placement');
                    $('#username').removeAttr('style');
                }
            }
        });
    }

    function checkRetypePassword() {
        if ($('#password-retype').val() == $('#password').val()) {
            $('#checkReypeIcon').hide();
            $('#password-retype').removeAttr("style");
        }
        else {
            $('#checkReypeIcon').show();
            $('#password-retype').attr("style", "border:1px solid red");

        }
    }
</script>

<div class="content-wrapper">
    <section class="content">
        <div style="margin-top: 10px;margin-bottom: 10px;margin-left: 10px; background-color: white; min-height: 300px; padding: 10px 20px 20px 20px">
            <div style="text-align: left; margin-bottom: 20px">
                <h2>Manage user in this Brand</h2>
            </div>
            *Note: These are user within your Brand.
            <table class="table table-hover">
                <thead style="border-top: 1px solid lightgray">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Gender</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person: ${listUser}" style="cursor: pointer" data-toggle="modal"
                    data-target="#userDetailModal"
                    th:onclick="'getUserDetail('+${person.userid}+')'">
                    <td th:text="${person.userid}" class="col-md-1"></td>
                    <td th:text="${person.username}"></td>
                    <td th:each="profile: ${listprofile}" th:if="${profile.profileid==person.profileid}"
                        th:text="${profile.lastname}"></td>
                    <td th:each="profile: ${listprofile}" th:if="${profile.profileid==person.profileid}"
                        th:text="${profile.firstname}"></td>
                    <td th:each="profile: ${listprofile}" th:if="${profile.profileid==person.profileid}"
                        th:text="${profile.gender}"></td>
                    <td th:switch="${person.roleid}">
                        <span th:case="1">Admin</span>
                        <span th:case="2">Brand Manager</span>
                        <span th:case="3">Supervisor</span>
                        <span th:case="4">Staff</span>
                    </td>
                    <td th:switch="${person.active}">
                        <span th:case="true"><span class="fa fa-circle active"></span>Active</span>
                        <span th:case="false"><span class="fa fa-circle inactive"></span>Inactive</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">Add user</button>
        </div>
    </section>
    <div id="userDetailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-dialog modal-sm">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">User detail</h4>
                    </div>
                    <div class="modal-body">

                        <div style="font-size: 30px; font-weight: bold; color: cornflowerblue;text-align: center"
                             id="user-name">
                        </div>

                        <div style="text-align: center">
                            <span class="fa fa-circle" id="user-status"></span>
                            <span id="user-role"></span>
                        </div>

                        <hr>
                        <div><span class="glyphicon glyphicon-user" style="margin-right: 10px"></span><span
                                id="user-username">quybeans</span></div>
                        <div><span class="glyphicon glyphicon-earphone" style="margin-right: 10px"></span><span
                                id="user-phone">08.09021028</span></div>
                        <div><span class="glyphicon glyphicon-envelope" style="margin-right: 10px"></span><span
                                id="user-mail">quybeans@gmail.com</span>
                        </div>
                        <div><span class="glyphicon glyphicon-map-marker" style="margin-right: 10px"></span><span
                                id="user-location">64 Phạm Văn Bạch, Quận Tân Bình TPHCM</span>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" style="display: none" id="btn-deactive-account">
                            Deactive
                        </button>
                        <button type="button" class="btn btn-success" style="display: none" id="btn-active-account">
                            Active
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="addUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new user</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="username">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" placeholder="Enter username"
                                       onblur="checkUsername($('#username').val())">
                                <a class="glyphicon glyphicon-remove form-control-feedback"
                                   style="margin-right: 10px;color: red; display: none" id="checkUserIcon"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Gender</label>
                            <div class="col-sm-9">
                                <label class="radio-inline"><input type="radio" name="optradio" checked>Male</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="firstname">Firstname</label>
                            <div class="col-sm-3"  style="padding-right: 0px">
                                <input type="text" class="form-control" id="firstname" placeholder="Enter firstname">
                            </div>
                            <label class="control-label col-sm-2" for="lastname">Lastname</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="lastname" placeholder="Enter lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="password">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" placeholder="Enter password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="password-retype">Retype password</label>
                            <div class="col-sm-9">
                                <input onblur="checkRetypePassword()" type="password" class="form-control"
                                       id="password-retype" placeholder="Retype password">
                                <a class="glyphicon glyphicon-remove form-control-feedback"
                                   style="margin-right: 10px;color: red; display: none" id="checkReypeIcon"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>