<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Profile</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="content-wrapper">
    <section class="content">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-horizontal" action="/user/createUserwProfile" method="POST">

                <div class="modal-body">
                    <input type="hidden" class="form-control" name="ddlBrand" value="">
                    <input type="hidden" class="form-control" name="rdrPage" value="/brand/user">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="username">Username*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" placeholder="Enter username"
                                   name="txtUsername"
                                   onblur="">
                            <a class="glyphicon glyphicon-remove form-control-feedback"
                               style="margin-right: 10px;color: red; display: none" id="checkUserIcon"></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="username">Role*</label>
                        <div class="col-sm-9">
                            <div class="dropdown">
                                <select class="btn btn-primary" name="ddlRole">
                                    <option value="sup">Supervisor</option>
                                    <option value="staff">Staff</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Gender*</label>
                        <div class="col-sm-9">
                            <label class="radio-inline"><input type="radio" name="rdGender" checked value="male">Male</label>
                            <label class="radio-inline"><input type="radio" name="rdGender"
                                                               value="female">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="firstname">Firstname*</label>
                        <div class="col-sm-3" style="padding-right: 0px">
                            <input type="text" class="form-control" id="firstname" placeholder="Enter firstname"
                                   name="txtFirstname">
                        </div>
                        <label class="control-label col-sm-2" for="lastname">Lastname*</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="lastname" placeholder="Enter lastname"
                                   name="txtLastname">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password">Password*</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" placeholder="Enter password"
                                   name="txtPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password-retype">Retype password*</label>
                        <div class="col-sm-9">
                            <input onblur="" type="password" class="form-control"
                                   id="password-retype" placeholder="Retype password">
                            <a class="glyphicon glyphicon-remove form-control-feedback"
                               style="margin-right: 10px;color: red; display: none" id="checkReypeIcon"></a>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="address" placeholder="Enter address"
                                   name="txtAddress">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="phone" placeholder="Enter phone"
                                   name="txtPhone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" placeholder="Enter email"
                                   name="txtEmail">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </section>


</div>


</body>
</html>

<script>
</script>