<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/scc</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.scc.ticketmanagement.Entities.PageEntity"/>
      <mapping class="com.scc.ticketmanagement.Entities.FacebookaccountEntity"/>
      <mapping class="com.scc.ticketmanagement.Entities.UserfacebookaccountEntity"/>
      <mapping class="com.scc.ticketmanagement.Entities.ContactEntity"/>
    <mapping class="com.scc.ticketmanagement.Entities.MessageEntity"/>
      <mapping class="com.scc.ticketmanagement.Entities.CommentEntity"/>
      <mapping class="com.scc.ticketmanagement.Entities.PostEntity"/>
      <mapping class="com.scc.ticketmanagement.Entities.MessageitemEntity"/>
      <mapping class="com.scc.ticketmanagement.Entities.BrandpageEntity"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>