<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8"/>
    <title>Messenger</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>

    <link rel="stylesheet" th:href="@{/css/scc-post.css}"/>
    <script src="/js/moment.min.js"></script>
    <script src="/js/messenger.js"></script>
    <link rel="stylesheet" href="/css/messenger.css">

</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <div class="content-wrapper" style="max-height: 90vh;overflow: hidden">

        <!--Model-->
        <!--Choose Page modal-->
        <div class="modal fade" id="filter-page-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select page to display conversations</h4>
                    </div>
                    <div class="modal-body" id="page-list">
                        <!--<img height="20px" width="20px" src="https://graph.facebook.com/750322811668893/picture"><b>Kitty-->
                        <!--Bang Bang</b>-->
                        <select class="form-control" name="ddlPages" id="ddlPages" onchange="getAllConversation(this)"
                                onSelect="getAllConversation(this)">
                            <option th:each="page : ${pages}"
                                    th:id="${page.pageid}"
                                    th:value="${page.pageid}"
                                    th:text="${page.name}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="ticket-modal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tickets in the system</h4>
                    </div>
                    <div class="modal-body" id="ticket-list">
                        <div class="ticket-row">
                            <div class="ticket">
                                <div class="title process">Thái độ nhân viên
                                    tệ
                                </div>
                                <div>Status:
                                    <span class="fa fa-circle" style="color: #00d600"></span>
                                    In Process
                                </div>
                                <div>Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div>Current assignee:<span style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title process">Thái độ nhân viên
                                    tệ
                                </div>
                                <div>Status:
                                    <span class="fa fa-circle" style="color: #00d600"></span>
                                    In Process
                                </div>
                                <div>Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div>Current assignee:<span style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title solved">
                                    Galaxy Note 7 phát nổ cần được tư vấn đổi trả
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle"
                                                                       style="color: gray"></span>
                                    Solved
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span
                                        style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title assigned">
                                    Hỗ trợ kỹ thuật
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle"
                                                                       style="color: #cece00"></span> Assigned
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span
                                        style="color: black; font-weight: bold">QuyDV</span>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="ticket-row">
                            <div class="ticket">
                                <div class="title process">Thái độ nhân viên
                                    tệ
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle"
                                                                       style="color: #00d600"></span> In Process
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span
                                        style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title solved">
                                    Galaxy Note 7 phát nổ cần được tư vấn đổi trả
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle"
                                                                       style="color: gray"></span>
                                    Solved
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span
                                        style="color: black; font-weight: bold">Admin</span>
                                </div>
                                <div></div>
                            </div>
                            <div class="ticket">
                                <div class="title assigned">
                                    Hỗ trợ kỹ thuật
                                </div>
                                <div style="color: gray">Status: <span class="fa fa-circle"
                                                                       style="color: #cece00"></span> Assigned
                                </div>
                                <div style="color: gray">Created by:<span
                                        style="color: black; font-weight: bold">User</span></div>
                                <div style="color: gray">Current assignee:<span
                                        style="color: black; font-weight: bold">QuyDV</span>
                                </div>
                                <div></div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--MODALS END HERE-->


        <section class="content chat">


            <section class="col-lg-3" style="padding: 0px">
                <div
                        style="padding-bottom: 5px; text-align:center; background-color: white; padding-top: 5px; border: 1px solid lightgray">
                    <div class="btn-group pull-right" style="margin-right: 20px" data-toggle="modal"
                         data-target="#filter-page-modal">
                        <a class="btn btn-default" style="border-radius: 0px">
                            <i class="fa fa-newspaper-o"></i>
                            &nbsp; Pages &nbsp;

                        </a>
                    </div>

                    <button data-toggle="collapse" data-target="#search-box" class="btn btn-default pull-left"
                            style="border-radius:0px; margin-left: 20px"><span class="fa fa-search"></span> &nbsp;Search
                    </button>
                    <div class="btn-group" style="margin-left: 5px">
                        <a class="btn btn-default"
                           onclick="refreshConversations();"
                           style="border-radius: 100px">
                            <i class="fa fa-refresh"></i>

                        </a>
                    </div>
                </div>
                <div class="collapse" id="search-box" style="padding: 10px">
                    <div class="input-group">
                        <input type="text" class="form-control" value="" id="txtSearchConversation"
                               placeholder="Search Messenger"/>
                        <span id="btn-search-conversation" class="input-group-addon" onclick="searchConversation()"> <i
                                class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="postlist" id="post-list">
                    <div class="box-body chat" id="messagesList">
                        <!--This is post list here-->
                    </div>

                </div>
            </section>


            <!--Cot o giua. Noi dung chat-->
            <div class="col-md-6 cmtbox" id="conversation"
                 style=" background-color: inherit;">

                <div style="border-bottom: 1px; height: 5%; text-align: center">
                    <h4 id="currentSenderName">Teen</h4>
                    <div id="conversation-content-loading-icon" class="hidden"><i
                            class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                </div>
                <ul class="chat" id="conversationContent"
                    style="overflow: scroll; height: 80vh; margin-left: 10px; margin-right: 10px">

                </ul>
                <div style="position: fixed; bottom: 10px;" id="conversationReply">
                    <div class="col-md-10">
                        <input style="width: 450px" class="form-control" type="text" placeholder="Type a message..." id="replyText" name="replyText"
                               value="" autofocus/>
                    </div>
                    <div class="col-md-2">
                        <button id="btnReply" class="btn btn-primary" onclick="sendMessage();" autofocus>Reply</button>
                    </div>
                </div>
            </div>

            <!--Cot ben phai. Thong tin cua khach hang-->
            <div class="col-md-3" id="customer-info" style="background-color: white; max-height: 90vh">
                <div class="col-md-3 box box-primary" class="">
                    <div class="box-body box-profile">
                        <img style="height: 200px;width: 200px" id="customer-picture"
                             class="profile-user-img img-responsive img-circle" src="" alt="">

                        <h1 id="customer-name" class="customer-username text-center"></h1>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Link Facebook</b> <a id="customer-facebook-id" class="pull-right" target="_blank"></a>
                            </li>
                            <li class="list-group-item">
                                <b>Locale</b> <a id="customer-locale" class="pull-right"></a>
                            </li>
                            <li class="list-group-item">
                                <b>Timezone</b> <a id="customer-timezone" class="pull-right"></a>
                            </li>
                            <li class="list-group-item">
                                <b>Gender</b> <a id="customer-gender" class="pull-right"></a>
                            </li>
                            <form>
                                <li class="list-group-item">
                                    <b>Note</b> <a onmouseover="showForm(this);" onmouseout="hideForm(this);"
                                                   id="customer-note"
                                                   class="pull-right"></a>
                                </li>
                                <button id="testbtn" style="display: none" value="Add">Add</button>
                            </form>
                        </ul>

                        <!--<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>-->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>


        </section>
    </div>


</div>


</body>
</html>
