<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8"/>
    <title>Messenger</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>

    <link rel="stylesheet" th:href="@{/css/scc-post.css}"/>
</head>
<style>
    body {
        font-family: "Lato", sans-serif;
    }

    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Float the list items side by side */
    ul.tab li {
        float: left;
    }

    /* Style the links inside the list items */
    ul.tab li a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of links on hover */
    ul.tab li a:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    ul.tab li a:focus, .active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div class="content-wrapper" style="max-height: 90vh;overflow: hidden">

        <select class="form-control" name="ddlPages" id="ddlPages" onchange="getAllConversation(this)"
                onSelect="getAllConversation(this)">
            <option th:each="page : ${pages}"
                    th:id="${page.pageid}"
                    th:value="${page.pageid}"
                    th:text="${page.name}"></option>
        </select>
        <section class="content chat">

            <!--Messages-->
            <div class="col-md-3" id="messagesList"
                 style="background-color: white; height: 100vh; overflow: scroll">
                <div class="item"></div>
            </div>
            <div class="col-md-6" id="conversation"
                 style="background-color: white; height: 100vh; overflow: scroll">
                <div id="conversationContent" >

                </div>
                <div style="position: fixed; bottom: 10px;" id="conversationReply">
                    <div class="col-md-10">
                        <input style="width: 450px" class="form-control" type="text" id="replyText" name="replyText"
                               value=""/>
                    </div>
                    <div class="col-md-2">
                        <button id="btnReply" class="btn btn-primary" onclick="">Reply</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="customer-info" style="background-color: white; max-height: 90vh">
                Customer info
            </div>

        </section>
    </div>

</div>
</body>
</html>
<script>
    $( document ).ready(function() {
        document.getElementById("ddlPages").selectedIndex = "1";
    });

    function getAllConversation(a) {
        getAllConversationsByPageId(a.value);
    }

    var currentInterval;

    function getAllConversationsByPageId(pageId) {
        $.ajax({
            url: '/messenger/getAllConversationsByPageId',
            type: "GET",
            data: {
                pageId: pageId
            },
            dataType: "json",
            success: function (data) {
                $('#messagesList').empty();

                $.each(data, function (i) {
                    var senderImg = '';
                    $('#messagesList').append(
                            '<div class="item" onclick="getConversationBySenderId(' + pageId + ',\'' + data[i].senderId + '\')">'
                            + '<div><img style="max-height: 30px" src="' + data[i].senderPicture + '"</div>'
                            + '<div>' + data[i].senderName + '</div>'
                            + '<div>' + data[i].lastMessage + '</div>'
                            + '</div>'
                    )
                });
            }
        });

    }

    function getConversationBySenderId(pageId, senderId) {
        getCustomerInfo(senderId);
        $('#btnReply').attr('onclick', 'sendMessage(' + pageId + ',' + senderId + ')');
        clearInterval(currentInterval);
        currentInterval = setInterval(function () {
            $.ajax({
                url: '/messenger/getConversationBySenderIdAndPageId',
                type: "POST",
                data: {
                    pageId: pageId,
                    senderId: senderId
                },
                dataType: "json",
                success: function (data) {
                    $('#conversationContent').empty();
                    $.each(data, function (i) {
                        if (data[i].senderid == pageId) {
                            $('#conversationContent').append(
                                    '<div style="text-align: right">' + data[i].content +'</div>'
                            );
                        } else {
                            $('#conversationContent').append(
                                    '<div style="text-align: left">' + data[i].content + '</div>'
                            );
                        }

                    });

                }
            });

        }, 500);

    }

    function sendMessage(pageId, receiverId) {
        var content = $('#replyText').val();
        $.ajax({
            url: '/messenger/sendMessageToCustomer',
            type: "POST",
            data: {
                pageId: pageId,
                receiverId: receiverId,
                content: content
            },
            dataType: "json",
            success: function (data) {
            },
            error: function (data) {
            }
        });
        $('#replyText').val("");
    }

    function getCustomerInfo(customerId) {
        $.ajax({
            url: '/messenger/getCustomerInfo',
            type: "POST",
            data: {
                customerId: customerId,
            },
            dataType: "json",
            success: function (data) {
                $('#customer-info').empty();
                $('#customer-info').append(
                        '<div>'
                        + '<div><img style="max-height: 200px; text-align: center" src="' + data.picture + '"</div>'
                        + '<div><label>Facebook ID: </label>' + data.facebookid + '</div>'
                        + '<div><label>Name: </label>' + " " + data.name + '</div>'
                        + '<div><label>Location: </label>' + " " + data.locale + '</div>'
                        + '<div><label>Timezone: </label>' + " " + data.timezone + '</div>'
                        + '<div><label>Gender: </label>' + " " + data.gender + '</div>'
                        + '</div>'
                )
            }
        });
    }

</script>