<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8"/>
    <title>Messenger</title>
    <header class="main-header" th:include="Head::header"></header>
    <aside class="main-sidebar" th:include="SideBar::aside"></aside>

    <link rel="stylesheet" th:href="@{/css/scc-post.css}"/>
    <script src="/js/moment.min.js"></script>
    <script src="/js/messenger.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <div class="content-wrapper" style="max-height: 90vh;overflow: hidden">

        <select class="form-control" name="ddlPages" id="ddlPages" onchange="getAllConversation(this)"
                onSelect="getAllConversation(this)">
            <option th:each="page : ${pages}"
                    th:id="${page.pageid}"
                    th:value="${page.pageid}"
                    th:text="${page.name}"></option>
        </select>

        <section class="content chat">

            <!--Cot ben trai. All conversation of page-->
            <div class="col-md-3" id="messagesList"
                 style="background-color: white; height: 100vh; overflow: scroll">
                <div class="item"></div>
            </div>

            <!--Cot o giua. Noi dung chat-->
            <div class="col-md-6" id="conversation"
                 style="background-color: white; height: 100vh; overflow: scroll">
                <div id="conversationContent" style="overflow: scroll; height: 80vh;">


                </div>
                <div style="position: fixed; bottom: 10px;" id="conversationReply">
                    <div class="col-md-10">
                        <input style="width: 450px" class="form-control" type="text" id="replyText" name="replyText"
                               value="" autofocus/>
                    </div>
                    <div class="col-md-2">
                        <button id="btnReply" class="btn btn-primary" onclick="" autofocus>Reply</button>
                    </div>
                </div>
            </div>

            <!--Cot ben phai. Thong tin cua khach hang-->
            <div class="col-md-3" id="customer-info" style="background-color: white; max-height: 90vh">
                Customer info
            </div>

        </section>
    </div>

</div>
</body>
</html>
