<link rel="stylesheet" type="text/css" th:href="@{/css/mini-messenger.css}" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="header"><span class="fa fa-weixin"></span>Social Messenger</div>
<button onclick="getAllActivePageUnreadMessage()">Back</button>

<div id="mess-page-list" class="collapse">
    <div id="page-conversations" class="pages-body">
        <div class="page">
            <img src="">
            <div class="name"></div>
            <div class="unread-count">
                <div class="circle"></div>
                <b></b>
            </div>
        </div>

    </div>
</div>

<div id="chat-box" class="collapse" style="overflow: scroll; height: 83vh">

</div>

