<link rel="stylesheet" type="text/css" th:href="@{/css/mini-messenger.css}" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="header">
    <i id="back-button" style="margin: 3px 0px 0px 10px" onclick="getAllActivePageUnreadMessage()" class="fa fa-arrow-left pull-left" aria-hidden="true"></i>
    <span class="fa fa-weixin"></span>
    <a href="messenger">Social Messenger</a></div>


<div id="mess-page-list" class="collapse">
    <div id="page-conversations" class="pages-body">
        <div class="page">
            <img src="">
            <div class="name"></div>
            <div class="unread-count">
                <div class="circle"></div>
                <b></b>
            </div>
        </div>

    </div>
</div>

<div id="chat-box" class="collapse" style="overflow: scroll; height: 84vh">

</div>

