<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>Manage page</title>
    <link rel="stylesheet" href="/css/facebookaccount.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/popup-confirm.css">
    <script src="/js/jquery-ui.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header" th:include="Head::header"></header>

    <aside class="main-sidebar" th:include="SideBar::aside">
    </aside>

    <div class="content-wrapper">

        <section class="content">


            <div style="margin-top: 10px;margin-bottom: 10px;margin-left: 10px; background-color: white; padding: 10px 20px 20px 20px">
                <div>
                    <h1>Manage Facebook Account</h1>
                </div>


                <table class="table table-hover" style="background-color: white">
                    <thead>
                    <tr>
                        <th>Account Picture</th>
                        <th>Account Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="account: ${facebookAccounts}">
                        <form id="managePageForm" action="deactivateFbAccount" method="post">
                            <input type="hidden" name="facebookAccountId"
                                   th:value="${account.facebookaccountid}"></input>
                            <td>
                                <img th:src="@{'https://graph.facebook.com/' + ${account.facebookuserid}+ '/picture'}"/>
                            </td>
                            <td>
                                <a th:href="@{'http://www.fb.com/' + ${account.facebookuserid}}"
                                   th:text="${account.facebookusername}"></a>
                            </td>
                            <!--<td th:switch="${account.active}">-->
                                <!--<span  th:case="true"><span class="fa fa fa-circle active"></span>Active</span>-->
                                <!--<span  th:case="false"><span class="fa fa fa-circle inactive"></span>Inactive</span>-->
                            <!--</td>-->
                            <td th:switch="${account.active}">
                                <!--<button class="btn btn-warning" type="submit" name="btnAction" value="Deactivate"-->
                                        <!--th:case="true">Deactivate-->
                                <!--</button>-->
                                <!--<button class="btn btn-primary" type="submit" name="btnAction" value="Activate"-->
                                        <!--th:case="false">Activate-->
                                <!--</button>-->
                                <button class="btn btn-danger" type="button" name="btnAction" id="btnDelete" onclick="showConfirm(this);"
                                        th:value="${account.facebookaccountid}">Delete
                                </button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> <span class="fa fa-plus" style="margin-right: 8px"></span>Add
                        Facebook account
                    </button>
                </div>

            </div>
        </section>

        <div class="container">

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add facebook account</h4>
                        </div>
                        <div class="modal-body">
                            <form id="form" action="loginViaFacebook" method="post">
                                <input type="hidden" name="shortLivedToken" id="shortLivedToken" value=""/>
                                <input type="hidden" name="fbUsername" id="fbUsername" value=""/>
                                <input type="hidden" name="uid" id="uid" value=""/>
                            </form>

                            <fb:login-button data-scope="manage_pages,publish_actions,publish_pages" onlogin="checkLoginState();">
                            </fb:login-button>
                            <div id="status">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div id="dialog-confirm" title="Delete this account?" style="display: none">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This account will be permanently deleted and cannot be recovered. Are you sure?</p>
        </div>

    </div>
    <script>


        function onAuthResponse(response) {
            var accessToken = response.authResponse.accessToken;
            var uid = response.authResponse.userID;
            getUsername(uid, accessToken);
        }

        function submit(uid, accessToken, username) {
            $.ajax({
                url: '/facebook-account/loginViaFacebook',
                type: "POST",
                data: {
                    uid: uid,
                    shortLivedToken: accessToken,
                    fbUsername: username
                },
                dataType: "text",
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    alert("Invalid link");
                }
            })
        }

        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().

            if (response.status === 'connected') {

            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Please log ' +
                        'into this app.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Please log ' +
                        'into Facebook.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                //statusChangeCallback(response);
                if (response.status === 'connected') {
                    onAuthResponse(response);
                } else {
                    FB.login(onAuthResponse, {
                        scope: 'manage_pages,publish_actions,publish_pages'
                    });

                }
            });

        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '341786092825787',
                cookie: true,  // enable cookies to allow the server to access
                               // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.5
            });


            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function getUsername(uid,accessToken ) {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                $('#fbUsername').val(response.name);
                document.getElementById('status').innerHTML =
                        'Thanks for logging in, ' + response.name + '!';
                submit(uid, accessToken,response.name);
            });


        }

        function showConfirm(element) {
//        $('#btnDelete').click(function( event ) {
//            event.preventDefault();
//        });
//        element.preventDefault();

            $( function() {
                $( "#dialog-confirm" ).dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "Delete": function() {
                            $.ajax({
                                url: '/facebook-account/deactivateFbAccount',
                                type: "POST",
                                dataType: "json",
                                data: {
                                    facebookAccountId: element.value,
                                    btnAction: 'Delete'
                                },
                                success: function (data) {

                                }
                            });
                            $( this ).dialog( "close" );
                            location.reload();
                        },
                        Cancel: function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });
            } );
        }
    </script>
</div>
</body>
</html>


